.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.4),
    rgba(255,255,255,0.4)), 
    url("https://images.pexels.com/photos/461940/pexels-photo-461940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
 margin-top: 20px;
 display: flex;
 flex-direction: column;
}
.loginForm > label{
   margin: 10px 0;
}
.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 11px;
    padding: 12px;
}

.loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(218, 63, 6);
}
.loginRegisterButton{
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: rgb(54, 213, 94);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 11px;
}