.header {
    margin-top: 60px;
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
  }
  
  .headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 20px;
    color: rgba(214, 37, 114, 0.735);
    margin-top: -8px;
  }
  
  .headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;
    background: -webkit-radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 106) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
  
  .headerImg{
      width: 100%;
      height: 450px;
      margin-top: 55px;
      object-fit: cover;
  }
.now{

    color: rgb(246, 159, 8);
    font-size: 23px;
    margin-right: 8px;
}
.now1{

    color: rgb(20, 246, 8);
    font-size: 24px;
    margin-left: 6px;
}